# Python Programming

### What is Python?
Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Python's design philosophy emphasizes code readability.

Two versions: Python 2.x and python 3.x
### Print() statement
This function prints the text or message specified in the parenthesis to the screen or any standard output device.

In [4]:
print("This is a Example of using Print() function, that prints this text as Output.")

This is a Example of using Print() function, that prints this text as Output.

## Variables
Variables are place holders or containers that store the data values. These are created once values are assigned to them. Python has no command for declaring a variable, unlike other languages. They can store values of different datatypes.<br>
## Data Types:
Types of Data types for variables include:<br>1. Integers<br>2. Float<br>3. Strings<br>And, many more...

For example consider the below example where we create a <i>variable</i> called <b>value1</b> which stores a integer number <b>40</b>. Similarly, <b>value_float</b> storing a float value <b>99.99</b>, and <b>VALue1</b> storing a string value " <b>Hello World</b>".

In [6]:
# Assigning the Variable with Values
value1 = 40
value_float = 99.99
VALue1 = "Hello World"

# Checking their Data types
print(type(value1))
print(type(value_float))
print(type(VALue1))

<class 'int'>
<class 'float'>
<class 'str'>

## Operators?
There are different types of operators:
#### 1. Arithmetic Operators
When common <u>mathematical operation needs to be performed</u>, the Arithmetic operators are used. These are:<br><br><b>+</b> Addition.<br><b>-</b> Subtraction.<br>\* Multiplication.<br><b>/</b> Division.<br><b>//</b> Floor Division.<br><b>**</b> Exponent.<br><br>Lets see the operators through these examples:

In [55]:
variable = 98
print("variable =", variable)

variable = variable + 2
print("variable =", variable)

variable = variable - 50
print("variable =", variable)

variable = variable * 2
print("variable =", variable)

variable = variable / 3
print("variable =", variable)

variable = variable // 4                      # 8.333333 but truncated!
print("variable =", variable)

variable = variable ** 2
print("variable =", variable)

variable = variable % 5                       # 64/5 | remainder: 4 , Quotient: 12
print("variable =", variable)

variable = 98
variable = 100
variable = 50
variable = 100
variable = 33.333333333333336
variable = 8.0
variable = 64.0
variable = 4.0

#### 2. Assignment operators
These operators are used when <i>some value needs to be assigned to some variable</i>.<br><br><b>=</b> Assigning values to variables.<br><b>+=</b>   Assignment and Addition simultaneously.<br><b>- =</b>   Assignment and Subtraction simultaneously.<br><b> \*=</b>    Assignment and Multiplication simultaneously.<br>Similarly, <b>/= , %= , //= , **= </b>.<br>Lets see the operators through these examples:

In [39]:
variable = 33.5
print("variable =", variable)

variable += 0.5
print("variable =", variable)

variable -= 10
print("variable =", variable)

variable *= 2
print("variable =", variable)

variable /= 3
print("variable =", variable)

variable //= 3                      # 3.19999999 but truncated!
print("variable =", variable)

variable **= 2
print("variable =", variable)

variable %= 3                       # 25/3 | remainder: 1 , Quotient: 8
print("variable =", variable)

variable = 33.5
variable = 34.0
variable = 24.0
variable = 48.0
variable = 16.0
variable = 5.0
variable = 25.0
variable = 1.0

#### 3. Comparison Operators
Comparison operators are used to compare two values.<br><br><b>==</b> Equality.<br><b>> </b> Greator than .<br><b>\< </b>   Less Than .<br><b>>=</b> Greator than Equals.<br><b><= </b>Less than Equals.<br><b>!=</b> Not Equal to.<br>Lets see the operators through these examples:

In [56]:
10 == 30

False

In [57]:
1 < 100

True

In [60]:
"python" == "Python"

False

#### 3. Logical Operators
These are used when want to compare two or more conditions. It return True or False depending on the condition.<br>Comparison Operators are : <b> and , or , not</b>

In [62]:
10 > 1 and 1 < 10 
# 10 > 1 and 5 > 15

True

In [65]:
# 10 > 1 or 1 < 10 
1 != 1 and 5 > 15

False

#### 4. Identity Operators
These are used to compare the objects to check if they represent the same object present within the same memory location.<br>The operators are:<b> is , is not</b>. For example:

In [70]:
var = "Hello"
var is "hello"

# var is "Hello"

False

#### 6. Membership Operators
Operators are used to test if a sequence is presented in an object.<br>The operators are:<b> in , not  in </b>. <i>We will see its use later on.</i>
## Lists, Tuple, Set and Dictionary

There are four collection data types in the Python, namely list, tuple, set and dictionary.<br>
#### 1. List
Its a  ordered collection of elements and are changeable. Can contain duplicate values. For example:

In [84]:
myList = ["Huawei","Google", 13, 15.556, True ]
print(myList)

['Huawei', 'Google', 13, 15.556, True]

In [85]:
myList[-1] = False
print(myList)

['Huawei', 'Google', 13, 15.556, False]

#### 2. Tuple
Its a  ordered collection of elements and are <b>not</b> changeable. Can contain duplicate values. For example:

In [74]:
myTuple = ("hello","World", 10, 9.556, False ) 
print(myTuple)

('hello', 'World', 10, 9.556, False)

In [76]:
myTuple[0] = "Hello"

TypeError: 'tuple' object does not support item assignment

#### 3. Set
Its a collection of unique elements and are unordered and unindexed. <b>Cannot</b> contain duplicate values. For example:

In [94]:
mySet = { "Apple", "Pineapple", 3.14, True, True, 3.14, True, "Apple"}
print(mySet)

{True, 'Apple', 3.14, 'Pineapple'}

#### 4. Dictionary
Its a collection of unique elements and are unordered, changeable and can be indexed, and are <b>stored as Key-Value pairs</b>. Cannot contain duplicate values. For example:

In [100]:
myDictionary = { "Hello" : 1 , 2 : "World"}
print(myDictionary,"\n")

print(myDictionary["Hello"])

print(myDictionary[2])

{'Hello': 1, 2: 'World'}

1
World

### IF - ELIF - ELSE  Condition statements
These statements are used to evaluate a condition and execute a block of code based on that condition. Lets look at <b>IF</b> statement.

In [101]:
value = 10
if value % 2 == 0 :
    print(value," is a EVEN number!")

10  is a EVEN number!

<b>ELSE Statement</b> :

In [103]:
value = 5
if value % 2 == 0 :
    print(value," is a EVEN number!")
else:
    print(value," is a ODD number!")

5  is a ODD number!

<b>ELIF Statement</b> :

In [131]:
Age = 15
# If Age less than 13 then a Child
if Age < 13   :
    print("Child")
# If Age is between 13 and 19 then Teenager
elif Age >= 13 and Age <= 19:
    print("Teenager")
# If Age is greator than 19 then Adult
else:
    print("Adult")

Teenager

### LOOPS:
There are two basic loops, which are <b>FOR </b>loop and <b>WHILE </b>loops.<br><br><b>FOR </b>loops:<br>This loop is used to iterate over a collection of items, like lists, tuples, etc. For example:

In [109]:
for value in myList:
    print(value)

Huawei
Google
13
15.556
False

In [111]:
# Can you iterate over a string??

<b>WHILE </b>loops:<br>This loop is used to execute code untill the condition clause is True. For example:

In [116]:
number = 1
while number < 10:
    print(number)
    number+=1

1
2
3
4
5
6
7
8
9

In [114]:
# what if in above loop you want to print only EVEN Numbers??

#### Break statement
This is a keyword that is used to <b>STOP</b> the execution of your loop at that state. Consider below Example:

In [126]:
check_numbers = [1,3,5,7,8,9,3,11]
for number in check_numbers:
    if number % 2 == 0 :
        print(number,"is EVEN ???")
#         break
    else:
        print(number," is Odd")

1  is Odd
3  is Odd
5  is Odd
7  is Odd
8 is EVEN ???
9  is Odd
3  is Odd
11  is Odd

#### Continue statement
This is a keyword that is used to <b>SKIP</b> the execution of your loop at that state. Consider below Example:

In [130]:
# For the above scenario, what IF you don't want to print the even numbers occuring in check_numbers
check_numbers = [1,3,5,7,8,9,3,11]
for number in check_numbers:
    if number % 2 == 0 :
        print(number,"is EVEN ???")
    else:
        print(number," is Odd")

1  is Odd
3  is Odd
5  is Odd
7  is Odd
8 is EVEN ???
9  is Odd
3  is Odd
11  is Odd